@font-face{
	font-family: 'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothic.woff');
}
@font-face{
	font-family: 'NanumPen';
	src: url('../fonts/NanumPen.woff');
}

.nanum{
	font-family: 'NanumBarunGothic', sans-serif;
}
.nanumPen{
	font-family: 'NanumPen', sans-serif;
}

*{
	margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    letter-spacing: 1px;
}
body{
	background: #F8DE65;
}
#wrap{
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 80px;
	position: relative;
	height: auto;
}
#header{
	background: url('../images/cam.jpg') no-repeat center top;
	width: 100%;
	height: 350px;
}
#header_min{
	line-height: 80px;
	font-size: 30px;
}
#linkWrap{
	position: absolute;
	top:0;
	right: 0;
}
#youtube, #potsunet{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 5px;
}
#youtube{
	background: url('../images/youtube.ico') center / cover;
}
#potsunet{
	background: url('../images/potsu.png') center / cover;	
}

article{
	margin-top: 10px;
}
article:after{
	content: "";
	display: block;
	clear: both;
}
section{
	width: 100%;
	margin-bottom: 50px;
}
section:after{
	content: '';
	display: block;
	clear: both;
}
h2{
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
h2:after{
	content: '';
	display: block;
	clear: both;
}
h2>span{
	vertical-align: middle;
	float: right;
}
.audioWrap{
	display: inline-block;
	position: relative;
	width: 140px;
	height: 140px;
	line-height: 140px;
	margin: 5px;
	text-align: center;
	background: #A15D36;
	border: 6px solid #F8DE65;
	border-radius: 18px;
	overflow: hidden;
	color: white;
	font-weight: bold;
	float: left;
}
.fileName{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	font-size: 30px;
	width: 90%;
}
.audioWrap:hover{
	border: 4px solid #F8DE65;
	border-radius: 18px;
}
.progress{
	width: 140px;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: red;
	opacity: 0.2;
	margin-bottom: 0;
}
.icon{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.3;
}
.play{
	background: url('../images/icon_play.png') center / cover;
}
.pause{
	background: url('../images/icon_pause.png') center / cover;
}

footer{
	text-align: center;
	border-top: 1px solid black;
	line-height: 50px;
}

.panel-collapse>div{
	overflow: hidden;
}
.panel-collapse>div:after{
	content: "";
	display: block;
	clear: both;
}